page-page1 {
    ion-grid {
        padding: 0;
        height: 100%;
        background-color: #0BDC80;
    }
 
    ion-row {
        flex: 1;
    }
}

ion-app.md [padding], ion-app.md [padding] .scroll-content {
    padding: 0px;
}

.whiteBackground { 
        background-color: #fff;
}

  
