page-page1 {
    ion-grid {
        padding: 0;
        height: 100%;
        background-color: #0BDC80;
    }
 
    ion-row {
        flex: 1;
    }
}

ion-app.md [padding], ion-app.md [padding] .scroll-content {
    padding: 0px;
}

.whiteBackground { 
        background-color: #fff;
}

.companyAvatar  {
  border-radius: 50%;
  max-width: 120px;
  max-height: 120px;
  margin : auto;
  padding-top: 20px;
}
  
p {
    text-align:  left;
}

